In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
from datetime import datetime

In [2]:
#tipo = pd.read_csv("./../data/tipocambio.csv")
#tipo.Fecha = (tipo.Fecha.apply(lambda d: datetime.strptime(d,"%m/%d/%Y")))

In [71]:
#tipo = tipo.set_index('Fecha').resample('2W').size().reset_index(name='Tasa')
tipo_cambio = pd.read_csv("./../data/tasacambio.csv")
tipo_cambio.set_index('Fecha')

                 Tipo
Fecha
01/01/2000   9.493350
15/01/2000   9.489450
01/02/2000   9.458150
15/02/2000   9.384200
01/03/2000   9.306000
...               ...
01/06/2021  19.887108
15/06/2021  20.166879
01/07/2021  19.911242
15/07/2021  19.980171
01/08/2021  19.964100

[519 rows x 1 columns]

In [84]:
custom_date_parser = lambda x: datetime.strptime(x, "%d/%m/%Y")
tiie = pd.read_csv("./../data/TIIE.csv",parse_dates = ["Fecha"],date_parser = custom_date_parser)
tiie.set_index("Fecha",inplace=True)
tiie = tiie.sort_index()

#total data_set
idx = pd.date_range('2000-01-01', periods=tipo_cambio.shape[0], freq='SMS')
tiie.index = pd.DatetimeIndex(tiie.index)
tiie = tiie.reindex(idx,fill_value = np.NaN)
tiie = tiie.interpolate()
print(tiie)

                 TIIE
2000-01-01  18.426667
2000-01-15  18.499167
2000-02-01  18.571667
2000-02-15  17.635278
2000-03-01  16.698889
...               ...
2021-06-01   4.282740
2021-06-15   4.345642
2021-07-01   4.525450
2021-07-15   4.514217
2021-08-01   4.515600

[519 rows x 1 columns]

In [85]:
confianza = pd.read_csv("./../data/confianza.csv",parse_dates = ["Fecha"],date_parser = custom_date_parser)
confianza.set_index("Fecha",inplace=True)
confianza = confianza.sort_index()

#total data_set
idx = pd.date_range('2000-01-01', periods=tipo_cambio.shape[0], freq='SMS')
confianza.index = pd.DatetimeIndex(confianza.index)
confianza = confianza.reindex(idx,fill_value = np.NaN)
confianza = confianza.interpolate()
print(confianza)

            confianza_consumidor
2000-01-01                  44.6
2000-01-15                  44.6
2000-02-01                  44.6
2000-02-15                  44.6
2000-03-01                  44.6
...                          ...
2021-06-01                  44.3
2021-06-15                  44.3
2021-07-01                  44.3
2021-07-15                  44.3
2021-08-01                  44.3

[519 rows x 1 columns]